{% extends 'base.html' %} 
{% load static %} 

{% block content %} 
<!--좋아요 많은 거 두 개만 출력하는 거-->

<div>
    {% for ticket in tickets|slice:":2" %} <!-- 수정된 부분 -->
    <div>
        <h4>For.{{user.profile.nickname}}</h4>
        <h4> {{ticket.body}} </h4>
        <h4> {{ticket.like_count}} 
        Date. {{ticket.pub_date}}</h4>
        <a href="{%url 'mainpage:detail' ticket.id %}"> ...더보기</a>
        <br>
    </div>
    {% endfor %} 
</div>

<div>
    <h3>나의 매력 포인트는?<br>
        하루에 한 질문씩! 자기 탐구 아카이빙
    </h3>
    <a href="{% url 'qnapage:qnalistrecent' %}">보러 가기</a>

</div>

<body>
    <div>
        <nav class="footer-container">
            <ul class="icons">
                <li><a href="{% url 'mainpage:ticketlistnew' %}"><i class="fa-solid fa-magnifying-glass" style="color: #000000;"></i></a></li>
                <li><a href="{% url 'mainpage:new' %}"><i class="fa-regular fa-pen-to-square" style="color: #000000;"></i></a></li>
                <li><a href="{% url 'qnapage:qnalistrecent' %}"><i class="fa-regular fa-compass" style="color: #000000;"></i></a></li>
            </ul>
        </nav>
    </div>
</body>


{% endblock %}